<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">View History</h4>
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>        
      </div>
      <div class="modal-body">       
        <h1 class="border-bottom pb-3 mb-3">Ali</h1>  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, labore eos accusantium odit quam, optio omnis suscipit iure necessitatibus a dignissimos! Nesciunt laudantium unde nihil, qui sint adipisci velit et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit porro qui dolorem ad, consequatur veniam atque! Beatae tempora, officia explicabo praesentium, aperiam corrupti dolorem nihil dolores accusamus, architecto quisquam.</p>                
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(false)" class="btn btn-danger" data-dismiss="model">Cancel</button> 
      </div>
    </div>
  </div>
</div>
